/* pages/login/login.wxss */
.full-page {
  background: var(--bg-color-page);
}

.welcome {
  padding: 60rpx;
}

.welcome-text {
  color: var(--text-color-secondary);
  font-size: var(--text-size-xxl);
}

.login {
  position: relative;
}

.login .t-cell {
  height: 200rpx;
}

.login .login-btn-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
}

.login .login-btn-cover::after {
  border: none;
}

.login .login-btn-cover:active {
  background: rgba(241, 242, 246, 0.3);
}

.policy {
  padding: 24rpx 0;
  display: flex;
  align-items:center;
  flex-wrap: nowrap;
}

.t-checkbox {
  background: transparent !important;
}

.t-checkbox .t-checkbox__border {
  display: none;
}

.policy-text {
  font-size: 14px;
}

.policy-content {
  height: 300rpx;
  margin-top: 66rpx;
}

.policy-content .t-link {
  display: inline-block;
}

.common-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
  bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
}