/* custom-tab-bar/index.wxss */
.custom-tab-bar {
  --td-tab-bar-border-color: #e7e7e7;
  /* --td-tab-bar-bg-color: #eee; */
  --td-tab-bar-hover-color: #ddd;
  /* --td-tab-bar-item-color: red; */
  --td-tab-bar-active-color: #d33b42;
}

.custom-tab-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-tab-bar-wrapper .text {
  font-size: 20rpx;
}
