.my-signature {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  .my-signature-tip {
    font-size: 24rpx;
    padding: 0 40rpx;
    color: #bfbebe;
  }
  .my-signature-canvas {
    box-sizing: border-box;
    margin: 0 auto;
    border: 2rpx dashed #d9d9d9;
  }
}

.my-signature-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50rpx;
  padding: 5rpx 40rpx;
  box-sizing: border-box;
  background: #ffffff;
  .my-signature-btn-item {
    margin: 0;
  }
  .my-signature-btn-item + .my-signature-btn-item {
    margin-left: 20rpx;
  }
}

.btn-primary {
  background-color: var(--color-primary);
}