/* pages/home/home.wxss */
.example-bg {
  background: #6D6D6D;
  height: 400rpx;
}

.my-msg-bar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 20rpx 30rpx;
  margin: -45rpx 32rpx 0;
  background: #fefeff;
  backdrop-filter: blur(40rpx);
  border-radius: 60rpx;
  box-shadow: 0 40rpx 40rpx 0 rgba(90, 90, 90, 0.1);
  .my-msg-bar-swiper {
    flex: 1;
    height: 50rpx;
    .my-msg-bar-swiper-item {
      display: flex;
      align-items: center;
      font-size: 28rpx;
      .item-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
